* {
    box-sizing: border-box;
}


.main-photo-help {
    height: 50vh;
    background-image: url(help-main-photo.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-top: 10px;

}

.help-container {
    display: flex;
    align-items: center;
    margin: 30px 200px;
}


.form-input {
    display: flex;
    flex-direction: column;
}

.form-input > label {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    color:#333;
    font-weight: 500;
    margin: 0px 20px;
}

.form-input > input,
.form-input > textarea {
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    margin: 10px 20px;
    box-shadow: 1px 4px 19px -11px rgba(66, 68, 90, 0.46);
} 

.form-input > textarea {
    height: 70px;
}

.form-container-help {
   background-color:white;
   border-radius: 5px;
   max-width: 400px;
   margin: 30px auto;
   box-shadow: -1px 7px 32px -6px rgba(66, 68, 90, 0.46);
   padding-bottom: 20px;
}

.form-header {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.submit-button {
    display: block;
    border-radius: 5px;
    background-color: black;
    color: white;
    margin: 20px auto;
    padding: 7px 15px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 1px 4px 19px -11px rgba(66, 68, 90, 0.46);
}

.form-head {
    background-color: black;
    padding: 5px;
    margin-bottom: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.single-photo {
    max-width: 400px;
    height: 300px;
    padding: 20px;
}

.single-photo-psych {
    max-width: 300px;
    padding: 20px;
}


.single-person {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person-container {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
}

.text-about-psych {
    margin: 30px 200px;
    line-height: 25px;
    
}

.name {
    font-size: 20px;
    font-weight: 700;
    margin: 0px;
}