.blog-container {
	background: rgb(240, 240, 240);
	background: linear-gradient(
		90deg,
		rgba(240, 240, 240, 1) 35%,
		rgba(203, 208, 253, 1) 100%
	);
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.blog-heading {
	text-transform: uppercase;
	font-size: 50px;
	margin-bottom: 0;
}

.blog-container > p {
	font-size: 20px;
}

.blog-page {
	width: 60%;
}

.post {
	background-color: #e7e5e5;
	border-radius: 15px;
	margin: 30px 0;
	overflow: hidden;
	border: 1px solid black;
	box-shadow: 0 0 5px black;
}

.post-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--main-color);
}

.post-header h2,
.post-text {
	padding: 10px 20px;
}

.delete-btn {
	display: flex;
	align-items: center;
	cursor: pointer;
	height: 20px;
	margin: 0 20px;
	padding: 20px;
	border-radius: 10px;
	border: none;
	box-shadow: 0 0 5px black;
	transition: color 0.3s, background-color 0.3s;
}

.delete-btn:hover {
	color: white;
	background-color: red;
}

.login-btn {
	width: 130px;
	padding: 10px 20px;
	border-radius: 8px;
	background-color: var(--main-color);
	border: none;
	cursor: pointer;
	box-shadow: 0 0 5px black;
	transition: background-color 0.3s;
}

.login-btn:hover {
	background-color: #e7e5e5;
}

.bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 30px 0;
}
