.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--main-color);
    
}

.logo {
    background-image: url(../../img/logo/LogoMakr-2c1AmM.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 200px;
    padding: 10px;
}

.nav-items ul {
    list-style: none;
    display: flex;
}

.nav-items ul li {
    margin: 0 10px;
    transition: font-weight .3s;
}

.nav-items ul li .link {
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    transition: font-weight .3s;
}

.link:focus {
    outline: none;
}
.link,
.link::after {
	transition: 0.3s;
}


.link::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 100%;
	background-color: black;
	transition: transform 0.3s;
	transform: scaleX(0);
	transform-origin: right;
}

.link:hover::after, .link:focus::after {
	transform: scaleX(1);
    height: 3px;
	transform-origin: left;
}