.section-title {
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
    border-top: 2px solid #7fdbff;
    padding-top: 20px;
    font-size: 30px;
}

.section-title-aff {
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
    font-size: 30px;
}

div.about {
    text-align: center;
    padding: 10px 20px;
}

.section-video {
    margin: 50px;
    display: flex;
    justify-content: space-around;
}

.single-video {
    width: 500px;
    height: 300px;
}


.mind-section {
    display: flex;
    justify-content: space-around;
}

.mind-box {
    width: 500px;
    height: 200px;
    border: 1px solid #7fdbff;
    border-radius: 5px;
    text-align: center;
}

.mind-title {
    font-size: 20px;
    font-weight: 700;

}

.main-photo-container {
    display: flex;
    align-items: center;
    max-height: 60vh;

}
.main-photo-single {
    padding: 40px;
    height: 50vh;
}


.about-relax {
    padding-left: 10px;
    padding-right: 40px;
    max-height: 40vh;
    font-size: 25px;
}


