* {
    box-sizing: border-box;
}

.section-title {
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
    padding-top: 20px;
    font-size: 30px;
}

.section-title-aff {
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
    font-size: 30px;
}

div.about {
    padding: 10px 20px;
    display: grid;
}


.section-video {
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: space-around; 
}


.single-video {
    max-width: 500px;
    max-height: 300px;
    margin: 10px;
}

.mind-section {
    display: flex;
    justify-content: center;
    margin: 20px 200px;
}

.mind-box {
    margin: 0 20px 20px 20px; 
    padding: 30px 40px;
    width: 30%;
    border: 1px solid #1e8fbb;
    border-radius: 5px;
    text-align: center;
}

.mind-box:hover {
    border: 3px solid #1e8fbb;
}

.mind-title {
    font-size: 20px;
    font-weight: 700; 
}

.mind-title-container {
    height: 30px;
    margin-bottom: 20px;
}

.mind-description {
    line-height: 20px;
    font-size: 16px;
}

.main-photo {
    height: 50vh;
    background-image: url(fernanda-dog.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-top: 10px;

}

.relax-container {
    display: flex;
    align-items: center;
    

}

.about-relax {
    margin: 30px 60px;
    padding-right: 40px;
    padding-bottom: 40px;
    max-height: 40vh;
    font-size: 25px;
}

.break-between {
    max-width: 60vw;
    border-top: 2px solid #7fdbff;
}


.affirmation-button {
    display: block;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #7fdbff;
    color: black;
    margin: 20px auto;
    padding: 15px 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    cursor: pointer;
    font-size: 20px;
}

.affirmation-button:hover {
    background-color: #7fdbff;
}

.affirmation-result {
    display: flex;
    color: black;
    font-size: 30px;
    justify-content: center;
    padding: 20px;    
}

.go-paragraph {
  text-decoration: underline;
  text-align: center;
  font-size: 20px;
    
}

.relax-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.direct {
    padding-right: 20px;
    cursor: pointer;
}

.direct:hover {
    text-decoration: underline;
}


div.about-aff {
    display: flex;
    justify-content: center;
    padding: 10px 200px;
     
}

.single-photo {
    height: 20%;
    padding: 20px;
}

.text-about {
    width: 50%;
    margin: 20px 0px 20px 20px;
    line-height: 25px;
}

.text-about-med {
    width: 50%;
    margin: 30px 30px 20px 20px;
    line-height: 25px;
}

.text-about-mind {
    margin: 20px 30px 20px 20px;
    line-height: 25px;
}


div.text-about > div {
    margin-top: 20px;
}

h3 {
    text-align: center;
    text-decoration: underline;
}

.meditation-title {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}
