* {
    box-sizing: border-box;
}

.section-title {
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
    padding-top: 20px;
    font-size: 30px;
}

.section-title-aff {
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
    font-size: 30px;
}

div.about {
    text-align: center;
    padding: 10px 20px;
}

.section-video {
    margin: 50px;
    display: flex;
    justify-content: space-around;
}

.single-video {
    width: 500px;
    height: 300px;
}


.mind-section {
    display: flex;
    justify-content: space-around;
}

.mind-box {
    width: 500px;
    height: 200px;
    border: 1px solid #7fdbff;
    border-radius: 5px;
    text-align: center;
}

.mind-title {
    font-size: 20px;
    font-weight: 700;

}

.main-photo-container {
    display: flex;
    align-items: center;
    height: 60vh;

}
.main-photo-single {
    padding: 30px 40px;
    height: 50vh;
}


.about-relax {
    margin-left: 10px;
    padding-right: 40px;
    padding-bottom: 40px;
    max-height: 40vh;
    font-size: 25px;
}

.break-between {
    max-width: 60vw;
    size: 5px;
}


.affirmation-button {
    display: block;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #7fdbff;
    color: black;
    margin: 20px auto;
    padding: 15px 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    cursor: pointer;
    font-size: 15px;
}

.affirmation-button:hover {
    background-color: #7fdbff;
}

.affirmation-result {
    display: flex;
    color: black;
    font-size: 30px;
    justify-content: center;
    padding: 20px;
    
}


